###########################################################################################################
###########################################  DATA BACKUP SETUP ############################################
###########################################################################################################

# LOCAL_TARGET:              Defined the path where the generated backup will be stored locally.
#                            example value: /path/to/backup
LOCAL_TARGET=/path/to/backup

# CLOUD_TARGET:              Define a URL and the path where the backup will be stored in the Google Drive or AWS S3 cloud.
#                            example value AWS S3: s3://s3.<bucket-region>.amazonaws.com/<bucket-name>[/<path>]
#                            example value Google Drive: gdocs://youremail@gmail.com[/<path>]
# CLOUD_TARGET=

# CLOUD_ACCESS_KEY_ID:       Client Id for access Google Driver or AWS S3 service responsible to store backup data.
#                            example value: AKIAYXGARMBIICAV23FE
# CLOUD_ACCESS_KEY_ID=

# CLOUD_SECRET_ACCESS_KEY:   Client Secret for access Google Driver or S3 service responsible to store backup data.
#                            example value: J/YXk2xMaJQugb+vYm+c/TbTz+LpMnkxucdfv/Rh
# CLOUD_SECRET_ACCESS_KEY=

# RESTORE_TARGET:            Define the target used to restore the backup.
#                            example value: LOCAL | GOOGLE_DRIVE | AWS
RESTORE_TARGET=LOCAL

# BACKUP_DATA_RETENTION:     Time the data backup will remain stored.
#                            Default value (15 days): 15D
BACKUP_DATA_RETENTION=15D